<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>双向数据绑定</title>
  <!-- <script src="https://unpkg.com/vue@next"></script> -->
</head>
<body>
  <div id="app">
    <h2>配置信息</h2>
    <div>
      <label>昵称:</label>
      <input type="text" v-model="user.name">
    </div>
    <div>
      <label>性别:</label>
      <input type="radio" name="sex" v-model="user.sex" value="男">男
      <input type="radio" name="sex" v-model="user.sex" value="女">女
    </div>
    <div>
      <label>心愿单:</label>
      <input type="checkbox" v-model="user.wish" value="iphone">iphone
      <input type="checkbox" v-model="user.wish" value="ipad">ipad
      <input type="checkbox" v-model="user.wish" value="iwatch">iwatch
      <input type="checkbox" v-model="user.wish" value="其他">其他
    </div>
    <div>
      <label>组号: </label>
      <select v-model="user.group" style="width: 100px">
      <option value="1">1</option><option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option></select>
    </div>
    <div>
      <label>备注:</label>
      <textarea v-model="user.remark"></textarea>
    </div>
    <div>
      <h2>已配置用户信息</h2>
      <p>姓名:{{user.name}}</p>
      <p>性别: {{user.sex}}</p>
      <p>心愿单: {{user.wish}}</p>
      <p>组织编号: {{user.group}}</p>
      <p>备注:{{user.remark}}</p>
    </div>
    <h1>{{title}}</h1>
  </div>

<script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js">
</script>
<script>
const App =  {
  data(){
    return {
      title: 'Hello World!',
      user: {
        name:'',
        sex: '男',
        wish: [],
        group: '',
        remark: ''
      }
    }
  }
}
Vue.createApp(App).mount('#app')
</script>
</body>
</html>